<!-- <div class="container"> -->
   <app-header ></app-header>
   <app-usidebar></app-usidebar>

   <main id="main" class="main" style="margin-left: 12rem;">
   <div class="container">
      <div class="sub">
      <h2>WELCOME TO GAMER'S WORLD</h2>
      </div>

     

      <div class="row col-md-12" id="bar">
         <div class="sub1">
            <h5 style="padding-top: 252px;">NEWLY LAUNCHED GAME</h5>
         </div>
         <div class="col-md-4 ">
            <img src="../../../assets/img/minecraft.png" alt="" style="width: -webkit-fill-available;">
         </div>
         <div class="col-md-4 ">
            <img src="../../../assets/img/legends.png" alt="" style="width: -webkit-fill-available;">
         </div>
         <!-- <div class="col-md-3">
            <img src="../../../assets/img/royal.png" alt="">
         </div> -->
         <div class="col-md-4">
            <img src="../../../assets/img/amoungus.png" alt="" style="width: -webkit-fill-available;">
         </div>
       </div>
       
       <div class="row col-md-12" id="bar1">
         <div class="sub2">
            <h5>REVIEWS FOR OUR GAMERS</h5>
         </div>
         <div class="col-md-3">
            <div class="card" style="border-radius: 2px solid black;">
               <img class="head" src="../../../assets/img/headlogo.png" alt="">
               <div class="card-body">
                 <h6 class="card-titi" style="text-align: center;">hari</h6>
                 <p class="card-text">Somee up the bulk of the card's content.</p>

               </div>
             </div>
         </div>
         <div class="col-md-3">
            <div class="card" style="border-radius: 2px solid black;">
               <img class="head" src="../../../assets/img/headlogo.png" alt="">
               <div class="card-body">
                 <h6 class="card-titi" style="text-align: center;">rama</h6>
                 <p class="card-text">Somee up the bulk of the card's content.</p>

               </div>
             </div>
           
         </div>
         <div class="col-md-3">
            <div class="card" style="border-radius: 2px solid black;">
               <img class="head" src="../../../assets/img/headlogo.png" alt="">
               <div class="card-body">
                 <h6 class="card-titi" style="text-align: center;">dama</h6>
                 <p class="card-text">Somee up the bulk of the card's content.</p>
               </div>
             </div>
           
         </div>
         <div class="col-md-3">
            <div class="card" style="border-radius: 2px solid black;">
               <img class="head" src="../../../assets/img/headlogo.png" alt="">
               <div class="card-body">
                 <h6 class="card-titi" style="text-align: center;">shyama</h6>
                 <p class="card-text">Somee up the bulk of the card's content.</p>

               </div>
             </div>
            
         </div>
       </div>
    
    </div>
    </main>
    <app-footer ></app-footer>
   