<main class="bgImg" >
    <div class="container">
        <section class="section register min-vh-100 d-flex flex-column align-items-center justify-content-center py-4">

            <!-- <div class="background">
 
               <img src="assets/img/background.png">
               <div class="transbox"></div>
                -->

            <div class="">
                <div class="row justify-content-center">
                    <div class="col-lg-4 col-md-6 d-flex flex-column align-items-center justify-content-center  ">

                        <div class="card mb-3 " style="width:375px;">
                            <div class=" backgroundlogin">
                                <div class="pt-4 pb-2 ">
                                    <h3 class="loginclo text-center  ">OTP Verification</h3>
                                    <!-- <p class="text-center small">Enter your username & password to login</p> -->
                                </div>
                                <form class="row  needs-validation" novalidate  style="gap:18px">
                                    <div class="col-12 d-flex justify-content-center formfield">

                                        <div class="d-flex justify-content:center" style="color: white;">
                                            <p style="text-align: center; font-size: 12px;">Enter the verification code  +91******3442</p>
                                        </div>

                                        <div class="input-group has-validation d-flex justify-content-center">
                                            <input type="text" name="mobileotp" class="form-control usernameclo" style="font-size: 12px;"
                                                id="mobileotp" placeholder="Mobile Otp" required>

                                        </div> 
                                    </div>
                                    <div class="d-flex" style="    justify-content: flex-start;gap:13px;
                                    padding: 0 30px;color: azure;">
                                        <p style="font-size: 12px;">Resend Otp</p>
                                        <time style="font-size: 12px;">00:45s</time>
        
                                     </div>

                 
 

                                    <div class="col-12">
                                        <!-- <div class="form-check"> <input class="form-check-input" type="checkbox" name="remember"
                                     value="true" id="rememberMe"> <label class="form-check-label"
                                     for="rememberMe">Remember me</label></div> -->
                                    </div>
                                    <div class="col-12 d-flex justify-content-center"> <button class="btnSubmit"
                                            type="submit" (click)="otpverify()">Submit</button></div>

                                   <div style="font-size: 12px;text-align: center;color: #EFF2F4;cursor:pointer ; gap:10px;" (click)="backtologin()"><u>Back To Login</u></div>
                                </form>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
            <p class="copyright-text d-flex justify-content-center"  style="color: white; margin: 20px;">Copyright &copy; 2024 All Rights Reserved by
                <a href="https://www.bisso.com/">Bisso</a>
            </p>
        </section>
    </div>
</main>