/* .set
{
    width: auto;
    margin-left: 14rem;
} */
.dashgaming
{
/* background-image: url(../../../assets/img/dashboard_front.jpg); */
/* background-color: rgb(199, 170, 127); */
}
.tourna
{
    color: rgba(139, 117, 16, 0.856);
}
.tour{
    color: black;
                  

}

.main
{
  height: 100vh;    /* position: absolute; */
    /* background-size: cover; */
  padding-top: 4%;
}
.head h1{
    color: rgba(139, 117, 16, 0.856);
    font-family: fantasy;
    font-size: xxx-large;
}
.tour{
    color: black;
    font-size: large;
}
.detail
{
    background-color: bisque;
    margin-top: 10px;
}


.loader {
    width: 48px;
    height: 48px;
    border-radius: 50%;
    display: inline-block;
    border-top: 4px solid #5b0606;
    border-right: 4px solid transparent;
    box-sizing: border-box;
    animation: rotation 1s linear infinite;
  }
  .loader::after {
    content: '';  
    box-sizing: border-box;
    position: absolute;
    left: 0;
    top: 0;
    width: 48px;
    height: 48px;
    border-radius: 50%;
    border-bottom: 4px solid #180460;
    border-left: 4px solid transparent;
  }
  @keyframes rotation {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }
  .loaderDiv {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 30px;
    position: fixed;
    backdrop-filter: blur(5px);
    z-index: 99999999;
  } 
  .data
  {
    font-family: fantasy;
    font-size: x-large;

  }