<div class="">
  <app-header></app-header>
  <app-sidebar></app-sidebar>
  <!-- <button type="button" class="btn btn-primary" style="margin-left: 1253px;">ADD</button> -->
  <!-- Button trigger modal -->
  <div class="container-fluid">
  <div class="row">
  <div class="col-md-12" style="display: flex; justify-content: center; align-items: center;">
     <div class="head">
       <h1>Tournament Details</h1>
     </div>
  </div>
  </div>
  
  <main id="main" class="main" >
  
  
  
      <div class="loaderDiv" *ngIf="isloading">
        <!-- <img src="../../../assets/img/kyc.png"> -->
    
        <span class="loader"></span>
    </div>
  
  <div class="dashgaming">
    <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal"
      style="margin-left: 1253px;">
      ADD
    </button>
  
    <!-- Modal -->
    <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
      aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
            <button type="button" class="close" data-bs-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <form>
  
              <div class="form-group tourna">
                <label for="game">GAME NAME</label>
                <select [(ngModel)]="game" name="game" class="form-control" (click)="gamestournamentget()">
                  <option value="1" selected>---user type---</option>
                  <option [value]="item.id" *ngFor="let item of items">
  
                    {{item.game_name}}
                  </option>
                </select>
              </div>
  
  
  
              <div class="form-group tourna">
                <label for="type">TYPE</label>
                <select [(ngModel)]="type" name="type" class="form-control" (click)="devicetournamentget()">
                  <option value="1" selected>---user type---</option>
                  <option [value]="itm.id" *ngFor="let itm of view">
                    {{itm.device_t}}
                  </option>
                </select>
              </div>
  
              <div class="form-group tourna">
  
                <label for="mode">MODE</label>
                <select [(ngModel)]="mode" name="mode" class="form-control" (click)="modetournamentget()">
                  <option value="1" selected>---user type---</option>
                  <option [value]="iem.id" *ngFor="let iem of dataa">
                    {{iem.mode_type}}
                  </option>
                </select>
              </div>
  
              <div class="form-group tourna">
  
                <label for="status">status</label>
                <select [(ngModel)]="status_L" name="status_L" class="form-control" (click)="statustournamentget()">
                  <option value="1" selected>---user type---</option>
                  <option [value]="imt.id" *ngFor="let imt of statuss">
                    {{imt.status_L}}
                  </option>
                </select>
              </div>
  
              <div class="form-group tourna">
  
                <label for="rank">RANK</label>
                <select [(ngModel)]="rank" name="rank" class="form-control" (click)="ranktournamentget()">
                  <option value="1" selected>---user type---</option>
                  <option [value]="tru.id" *ngFor="let tru of rankss">
                    {{tru.rank_g}}
                  </option>
                </select>
              </div>
  
              <div class="form-group tourna">
  
                <label for="prize">PRIZE</label>
                <select [(ngModel)]="prize" name="prize" class="form-control" (click)="prizetournamentget()">
                  <option value="1" selected>---user type---</option>
                  <option [value]="metn.id" *ngFor="let metn of prizess">
                    {{metn.prize_p}}
                  </option>
                </select>
              </div>
  
              <div class="form-group tourna">
                <label for="start">DATE</label>
                <input type="date" [(ngModel)]="start" id="start" name="start">
              </div>
  
              <div class="form-group tourna">
                <label for="stime">Select Start time:</label>
                <input type="time" [(ngModel)]="stime" id="stime" name="time">
              </div>
  
              <div class="form-group tourna">
                <label for="etime">Select End time:</label>
                <input type="time" [(ngModel)]="etime" id="etime" name="etime">
              </div>
  
  
  
  
  
              <div class="form-group tourna">
                <label for="image">IMAGE</label>
                <input type="file" class="form-control" [(ngModel)]="image" id="image" placeholder="Enter image"
                  accept="image/png, image/jpeg, image/jpg" (change)="imageUpload($event)">
              </div>
  
  
              <div class="form-group">
                <label for="fee">FEE</label>
                <input type="text" class="form-control" [(ngModel)]="fee" id="fee" name="fee" placeholder="Enter fee">
              </div>
  
  
            </form>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
            <button type="button" class="btn btn-primary" data-bs-dismiss="modal" (click)="tournamentadd()">Save</button>
          </div>
        </div>
      </div>
    </div>
  
  
  
    <!-- update -->
  
    <div class="modal fade" id="exampleModal1" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
    aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Modal titleee</h5>
          <button type="button" class="close" data-bs-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <form>
  
            <div class="form-group tourna">
              <label for="game">GAME NAME</label>
              <select [(ngModel)]="gamemodeid" name="gamemodeid" class="form-control" >
                <option value="1" selected>---user type---</option>
                <option [value]="item.id" *ngFor="let item of items">
  
                  {{item.game_name}}
                </option>
              </select>
            </div>
  
  
  
            <div class="form-group tourna">
              <label for="type">TYPE</label>
              <select [(ngModel)]="typee" name="typee" class="form-control">
                <option value="1" selected>---user type---</option>
                <option [value]="itm.id" *ngFor="let itm of view">
                  {{itm.device_t}}
                </option>
              </select>
            </div>
  
            <div class="form-group tourna">
  
              <label for="mode">MODE</label>
              <select [(ngModel)]="modee" name="modee" class="form-control" >
                <option value="1" selected>---user type---</option>
                <option [value]="iem.id" *ngFor="let iem of dataa">
                  {{iem.mode_type}}
                </option>
              </select>
            </div>
  
            <div class="form-group tourna">
  
              <label for="status">status</label>
              <select [(ngModel)]="status_k" name="status_k" class="form-control" >
                <option value="1" selected>---user type---</option>
                <option [value]="imt.id" *ngFor="let imt of statuss">
                  {{imt.status_L}}
                </option>
              </select>
            </div>
  
            <div class="form-group tourna">
  
              <label for="rank">RANK</label>
              <select [(ngModel)]="rankk" name="rankk" class="form-control" >
                <option value="1" selected>---user type---</option>
                <option [value]="tru.id" *ngFor="let tru of rankss">
                  {{tru.rank_g}}
                </option>
              </select>
            </div>
  
  
            <div class="form-group tourna">
  
              <label for="prize">PRIZE</label>
              <select [(ngModel)]="prizee" name="prizee" class="form-control" >
                <option value="1" selected>---user type---</option>
                <option [value]="metn.id" *ngFor="let metn of prizess">
                  {{metn.prize_p}}
                </option>
              </select>
            </div>
  
            <div class="form-group tourna">
              <label for="start">DATE</label>
              <input type="date" [(ngModel)]="startdate" id="startdate" name="startdate">
            </div>
  
            <div class="form-group tourna">
              <label for="stime">Select Start time:</label>
              <input type="time" [(ngModel)]="stimte" id="stimte" name="stimte">
            </div>
  
            <div class="form-group tourna">
              <label for="etime">Select End time:</label>
              <input type="time" [(ngModel)]="etimee" id="etimee" name="etimee">
            </div>
  
  
  
  
  
            <div class="form-group tourna">
              <label for="image">IMAGE</label>
              <input type="file" class="form-control" [(ngModel)]="imagee" id="imagee" name="imagee" placeholder="Enter image"
                accept="image/png, image/jpeg, image/jpg" (change)="imageUpload($event)">
            </div>
  
  
            <div class="form-group">
              <label for="fee">FEE</label>
              <input type="text" class="form-control" [(ngModel)]="feess" id="feess" name="feess" placeholder="Enter fee">
            </div>
  
  
          </form>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
          <button type="button" class="btn btn-primary" data-bs-dismiss="modal" (click)="updatetournament()">
            Update
          </button>
        </div>
      </div>
    </div>
  </div>
  
  
    <!-- table -->
  
    <table class="table set" style="width: 100%; border: 5px solid orangered; border-radius: 10px; background-color: whitesmoke;">
      <thead class="tour">
        <tr>
          <th scope="col">Id</th>
          <th scope="col">GAME NAME</th>
          <th scope="col">GAME IMAGE</th>
  
          <th scope="col">GAME TYPE</th>
          <th scope="col">GAME MODE</th>
          <th scope="col">GAME STATUS</th>
          <th scope="col">GAME RANK</th>
          <th scope="col">GAME PRIZE</th>
          <th scope="col">GAME DATE</th>
          <th scope="col">GAME START TIME</th>
          <th scope="col">GAME END TIME</th>
          <th scope="col">GAME FEES</th>
          <th scope="col">ACTION</th>
        </tr>
      </thead>
      <tbody class="detail"*ngFor="let data of viewdata let indexOfelement=index;">
        <tr>
          <th>{{indexOfelement+1}}</th>
          <td class="data">{{data.gamename}}</td>
          <td>
            <div class="avatar-group">
              <img height="50px" width="50px"  src="{{url}}{{data?.imagepath}}/{{data?.gameimage}}" class="rounded-circle">
            
            </div>
           
          </td>
          <td class="data">{{data.type}}</td>
          <td class="data">{{data.mode}}</td>
          <td class="data">{{data.status}}</td>
          <td class="data">{{data.rank}}</td>
          <td class="data">{{data.prize}}</td>
          <td class="data">{{data.date}}</td>
          <td class="data">{{data.time}}</td>
          <td class="data">{{data.etime}}</td>
          <td class="data">{{data.fees}}</td>
          <!-- <button type="button" class="btn btn-primary" >
              UPDATE</button>
              <button type="button" class="btn btn-danger" >
                DELETE</button> -->
          <td>
            <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal1"
              style="background-color: yellowgreen;"  (click)="updatedata(data)">
              UPDATE
            </button>
            <button type="button" class="btn btn-danger" style="background-color: red;">
              DELETE
            </button>
  
  
          </td>
        </tr>
  
      </tbody>
    </table>
  </div>
  </main>
  </div>
  <app-footer></app-footer>

</div>
