<div class="sha">
    <aside id="sidebar" class="sidebar">
    
       <div class="d-flex justify-content-center align-items-center">
             <h3>ADGLOB</h3>
          </div>
        
       <div style="text-align: center;"><img src="../../../assets/img/headlogo.png" alt=""></div><br><br>
       <div class="d-flex justify-content-center">
        <ul class="sidebar-nav  d-flex flex-column" id="sidebar-nav">
           <!-- <li class="nav-item"> <a class="nav-link " routerLink="/dashboard"> <i class="bi bi-grid"></i> <span><b>DASHBOARD</b></span> </a></li><br> -->
           <li class="nav-item"> <a class="nav-link collapsed" routerLink="/admin/tournament"><img src="../../../assets/img/tournament.png" alt=""> <span style="margin-left: 10px;"><b>TOURNAMENT</b></span> </a></li><br>
           <li class="nav-item"> <a class="nav-link collapsed" routerLink="/admin/game">  <img src="../../../assets/img/game.png" alt=""> <span style="margin-left:10px ;"><b>GAMING</b></span> </a></li><br>
           <li class="nav-item"> <a class="nav-link collapsed" routerLink="/admin/GamingStatus"><img src="../../../assets/img/kyc.png" alt="">  <span style="margin-left: 10px;"><b>GAME STATUS</b></span> </a></li><br>
           <li class="nav-item"> <a class="nav-link collapsed" routerLink="/admin/mode"><img src="../../../assets/img/bankthe.png" alt=""> <span style="margin-left: 10px;"><b>mode</b></span> </a></li><br>
           <li class="nav-item"> <a class="nav-link collapsed" routerLink="/admin/prize">  <img src="../../../assets/img/game.png" alt=""> <span style="margin-left:10px ;"><b>PRIZE</b></span> </a></li><br>
           <li class="nav-item"> <a class="nav-link collapsed" routerLink="/admin/rank-type"><img src="../../../assets/img/kyc.png" alt="">  <span style="margin-left: 10px;"><b>RANK</b></span> </a></li><br>
           <li class="nav-item"> <a class="nav-link collapsed" routerLink="/admin/device-type"><img src="../../../assets/img/bankthe.png" alt=""> <span style="margin-left: 10px;"><b>Device Type</b></span> </a></li><br>
           <!-- <li class="nav-item"> <a class="nav-link collapsed" routerLink="/admin/gameview"><img src="../../../assets/img/bankthe.png" alt=""> <span style="margin-left: 10px;"><b>Game Image</b></span> </a></li><br> -->



        </ul>
        </div>
    
        <div class="col-12 d-flex justify-content-center"> <button class="btnSubmit" type="submit"
          (click)="logout()">LOGOUT</button></div>
    
     </aside>
    </div>
