<main class="bgImg" >
    <div class="container" >
       <section class="section register min-vh-100 d-flex flex-column align-items-center justify-content-center py-4">
 
              <!-- <div class="background">
 
               <img src="assets/img/background.png">
               <div class="transbox"></div>
                -->
         
          <div class="container ">
             <div class="row justify-content-center">
                <div class="col-lg-4 col-md-6 d-flex flex-column align-items-center justify-content-center  ">
               
                   <div class="card mb-3 ">
                      <div class=" backgroundlogin">
                         <div class="pt-4 pb-2 "> 
                            <p class="loginclo text-center  ">Forget Password</p>
                            
                            <!-- <p class="text-center small">Enter your username & password to login</p> -->
                         </div>
                         <form class="row g-3 needs-validation" novalidate>
                            <div class="col-12 d-flex justify-content-center formfield">
                              
                               <div class="input-group has-validation d-flex justify-content-center">
                                   <input type="text"
                                     name="email" class="form-control usernameclo" id="email" placeholder="Enter Your Mail Id" style="font-size: 12px;" required>
                              
                         </div> 
                            </div>

                            <div style="display: flex; justify-content: flex-end; padding: 0 25px 0 0;">
                                <button class="verify" type="submit">Verify</button>
                               </div>

                            <div class="col-12 d-flex justify-content-center ">
                               <div class="input-group has-validation d-flex justify-content-center">
                                <input type="text"
                                  name="mailotp" class="form-control passwordclo " id="mailotp" placeholder="Email Otp" style="font-size: 12px;" required >
                            </div>
                            </div>
 
                            <div class="d-flex" style="    justify-content: flex-start;gap:13px;
                            padding: 0 30px;color: azure;">
                                <p style="font-size: 12px;">Resend Otp</p>
                                <time style="font-size: 12px;">00:45s</time>

                             </div>
                            
                         
                            <div class="col-12" >
                               <!-- <div class="form-check"> <input class="form-check-input" type="checkbox" name="remember"
                                     value="true" id="rememberMe"> <label class="form-check-label"
                                     for="rememberMe">Remember me</label></div> -->
                            </div>
                            <div class="col-12 d-flex justify-content-center"> <button class="btnSubmit" type="submit" (click)="forgeted()">Submit</button></div>
                         <div style="font-size: 12px;text-align: center;color: #EFF2F4; cursor:pointer ;" (click)="backtologin()"><u>Back To Login</u></div>
                         </form>
                      </div>
                   </div>
                 
                </div>
             </div>
          </div>  
          <p class="copyright-text d-flex justify-content-center"  style="color: white; margin: 20px;">Copyright &copy; 2024 All Rights Reserved by
            <a href="https://www.bisso.com/">Bisso</a>
        </p>
       </section>
    </div>
 </main>
