<app-header></app-header>
<app-usidebar></app-usidebar>
<main class="pay">
    <form>
    <div class="row">
        
           
                 <div class="middle">
                    <div class="line">
                    <input type="radio" id="upi" class="val" name="upi" value="upi" style="margin-left: 4px;">
                <label for="upi" style="margin-left: 5px;">UPI</label>
                </div>
                <div class="line">
                  <input type="radio" id="debit" class="val" name="debitcard" value="debitcard">
                <label for="debit">DEBIT CARD</label>
              </div>
              <div class="line">
                <input type="radio" id="credit" class="val" name="credit" value="credit">
                 <label for="credit">CREDIT CARD</label>
              </div>
              <div class="line">
                <input type="radio" id="net" class="val" name="net" value="net">
              <label for="net" style="margin-left: 5px;">NET BANKING</label>
              </div>
                 </div>
              
        </div>
    
</form>
<div class="col-12 d-flex justify-content-center"> <button class="btnSubmit" type="submit"
  >Continue</button></div>
  
</main>
<app-footer></app-footer>
