<div class="sha">
   <aside id="sidebar" class="sidebar">

      <div class="d-flex justify-content-center align-items-center" style="color:rgb(151, 100, 37);">
         <h3>ADGLOB</h3>
      </div>

      <div style="text-align: center;"><img src="../../../assets/img/headlogo.png" alt="">
         <a class="nav-link collapsed" routerLink="/user/update-profile-user"><img
            alt=""> <span
           style="margin-left: 0px;color: white;"><b>Profile</b></span> </a>
      </div><br><br>
      <div class="d-flex justify-content-center">
         <ul class="sidebar-nav  d-flex flex-column" id="sidebar-nav">
            <!-- <li class="nav-item"> <a class="nav-link collapsed" routerLink="/user/update-profile-user"><img
                      alt=""> <span
                     style="margin-left: 10px;"><b>Profile</b></span> </a></li><br> -->
            <li class="nav-item"> <a class="nav-link;color: white; " routerLink="/user/dashboard"> <i class="bi bi-grid"></i>
                  <span><b>DASHBOARD</b></span> </a></li><br>

            <li class="nav-item"> <a class="nav-link collapsed" routerLink="/user/tournament"><img
                     src="../../../assets/img/tournament.png" alt=""> <span
                     style="margin-left: 10px;"><b>Tournament</b></span> </a></li><br>



            <li class="nav-item"> <a class="nav-link collapsed" routerLink="/user/games"><img
                     src="../../../assets/img/game.png" alt=""> <span style="margin-left: 10px;"><b>GAMES</b></span>
               </a></li><br>
            <li class="nav-item"> <a class="nav-link collapsed" routerLink=><img
                     src="../../../assets/img/kyc.png" alt=""> <span style="margin-left: 10px;"><b>KYC</b></span>
               </a></li><br>

            <!-- <li class="nav-item"> <a class="nav-link collapsed" routerLink="/user/usertournament">  <img src="../../../assets/img/game.png" alt=""> <span style="margin-left:10px ;"><b>Upcoming Tournament</b></span> </a></li><br>
    
           <li class="nav-item"> <a class="nav-link collapsed" routerLink="/user/usercompletedtournament"><img src="../../../assets/img/tournament.png" alt=""> <span style="margin-left: 10px;"><b>Completed Tournament</b></span> </a></li><br>
           <li class="nav-item"> <a class="nav-link collapsed" routerLink="/user/userlivetournament">  <img src="../../../assets/img/game.png" alt=""> <span style="margin-left:10px ;"><b>Live Tournament</b></span> </a></li><br> -->

            <!-- <li class="nav-item"> <a class="nav-link collapsed" routerLink="/tournament"><img src="../../../assets/img/tournament.png" alt=""> <span style="margin-left: 10px;"><b>TOURNAMENT</b></span> </a></li><br> -->
            <!-- <li class="nav-item"> <a class="nav-link collapsed" routerLink="/user/userpayment">  <img src="../../../assets/img/game.png" alt=""> <span style="margin-left:10px ;"><b>User Payment</b></span> </a></li><br> -->

            <!-- <li class="nav-item"> <a class="nav-link collapsed" routerLink="/user/usersolo"><img src="../../../assets/img/tournament.png" alt=""> <span style="margin-left: 10px;"><b>usersolo</b></span> </a></li><br> -->
            <!-- <li class="nav-item"> <a class="nav-link collapsed" routerLink="/user/userpayment"> <img
                     src="../../../assets/img/game.png" alt=""> <span style="margin-left:10px ;"><b>Payment</b></span>
               </a></li><br> -->



         </ul>
      </div>

      <div class="col-12 d-flex justify-content-center"> <button class="btnSubmit" type="submit"
            (click)="logout()">LOGOUT</button></div>

   </aside>
</div>